<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-de">

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h3>
        </div>
      </div>

      <div class="container content">
        <p>I'm archiving this blog for a while.</p>
        <p>Will come up with different writings in the future.</p>
        <p>You can find me @jonatasbaldin on the bird social media.</p>
        <p>And also on that one with an octocat.</p>
        <p>Send electronic letters to jonatas dot baldin at gmail dot com.</p>
      </div>
    </div>

    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>


  </body>
</html>
