<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    </head>
    <body style="text-align: center;">
        <header class="header" style="padding-top: 5.5em;">
            <section class="container">
                <h1><a target="_blank" href="{{ .PlaylistMetadata.URL }}">brunchies</a></h1>
                <img src="{{ .PlaylistMetadata.ImageURL }}" style="width: 20em;"></img>
                <blockquote style="border-left: none">
                    <em>by {{ .PlaylistMetadata.Author }}</em>
                    <br />
                    <em>with {{ .PlaylistMetadata.Followers }} followers</em>
                </blockquote>
            </section>
        </header>

        <main>
            <div>
                {{- range .Weeks }}
                <em><p style="margin-bottom: 0;">{{ .Year }} (week #{{ .Week }})</p></em>
                <ul style="list-style: none;">
                    {{- range .Tracks }}
                    <li style="margin-bottom: 0;">{{ .Name }} by {{ .Artists }}</li>
                    {{- end }}
                </ul>
                {{- end }}
            </div>
        </main>
    </body>
</html>